.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    background: var(--blue);
}

.bg {
    width: 60vw;
    display: flex;
}

.loginContainer {
    width: 40vw;
    padding: 40px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}

#login h1 {
    margin: 100px 0 24px;
    font-size: 2.25rem;
    color: var(--white)
}

#login .github {
    max-width: 320px;
    margin-bottom: 40px;
    color: var(--text-highlight);
    font-size: 1.25rem;
    line-height: 1.875rem;

    display: flex;
    align-items: center;
}

#login .github img {
    margin-right: 24px;
}

#login form {
    width: 80%;
    border-radius: 5px;

    background: var(--blue);
    border: none;

    display: flex;
    align-items: center;
    overflow: hidden;
}

#login form input {
    flex: 1;
    padding: 1.5rem 1.875rem;
    
    font-size: 1.25rem;
    line-height: 2.125rem;
    color: var(--white);
    
    border: none;
    background: linear-gradient(to right, var(--blue-dark), rgba(73, 83, 184, .2));
}

#login form input::placeholder {
    color: var(--text-highlight);
}

#login form:valid button:hover {
    background: var(--green);
}

#login form button {
    width: 80px;
    height: 80px;

    border: none;
    background: var(--blue-dark);
    transition: background 200ms;
}