.profileContainer {
    display: flex;
    align-items: center;
}

.profileContainer img {
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 50%;
}

.profileContainer div {
    margin-left: 1.5rem;
}

.profileContainer div strong {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--title);
}

.profileContainer div p {
    font-size: 1rem;
    margin-top: .5rem;
    display: flex;
    align-items: center
}

.profileContainer div p img {
    width: 1rem;
    height: 1rem;
    margin-right: .5rem;
}

.completedChallenges {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 3.5rem 0;
    padding-bottom: 1rem;
    border-bottom: 1px solid #d7d8da;

    font-weight: 500;
}

.completedChallenges span:first-child {
    font-size: 1.25rem;
}

.completedChallenges span {
    font-size: 1.5rem;
}


/* mobile */

@media (max-width: 950px) {
    .profileContainer img {
        width: 5rem;
        height: 5rem;
    }

    .profileContainer div {
        margin-left: 1.25rem;
    }    

    .profileContainer div strong {
        font-size: 1.25rem;
    }

    .completedChallenges {
        margin: 3rem 0;
        padding-bottom: .75rem;
    }

    .completedChallenges span:first-child {
        font-size: 1.125rem;
    }

    .completedChallenges span {
        font-size: 1.25rem;
    }
}

@media(max-width: 650px) {
    .completedChallenges {
        margin: 2rem 0 3rem;
    }
}