.row {
    width: 100%;
    margin-bottom: 8px;
    border-radius: 4px;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
}

.row .position {
    width: 4.5rem;
    height: 6rem;
    padding: 2rem 0;
    margin-right: 5px;

    font-size: 1.5rem;
    background: var(--white);

    display: flex;
    align-items: center;
    justify-content: center;
}

.row .userInfo {
    padding: 1rem 0;
    background: var(--white);
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row .userInfo#currentUser div div strong {
    color: var(--blue);
}

/* ---------- profile ---------- */

.profileContainer {
    margin-left: 1.5rem;
    display: flex;
    align-items: center;
}

.profileContainer img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

.profileContainer div {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
}

.profileContainer div strong {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--title);
}

.profileContainer div p {
    display: flex;
    align-items: center;
    font-size: 1rem;
    margin-top: .5rem
}

.profileContainer div p img {
    width: 1rem;
    height: 1rem;
    margin-right: .5rem;
}

/* ------------------------------ */

.row .userInfo .challengesAndXp {
    width: 18rem;
    margin-right: 3rem;
    display: flex;
    justify-content: space-between;
}

.row .userInfo div span strong {
    color: var(--blue);
}


/* mobile */

@media(max-width: 1300px) {
    .row .userInfo .challengesAndXp {
        margin-right: 1.5rem;
    }
}

@media(max-width: 1080px) {
    .row .position {
        width: 4rem;
        height: 5rem;
        padding: 1.5rem 0;
        margin-right: 5px;
    
        font-size: 1.25rem;
        background: var(--white);
    
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .profileContainer {
        margin-left: 1rem;
    }

    .profileContainer img {
        width: 3rem;
        height: 3rem;
    }

    .profileContainer div {
        margin-left: .75rem;
        overflow: hidden;
        text-overflow: clip;
        white-space: nowrap;
    }
    
    .profileContainer div strong {
        font-size: 1.125rem;
    }

    .profileContainer div p {
        font-size: .875rem;
        margin-top: .375rem
    }
    
    .profileContainer div p img {
        width: .875rem;
        height: .875rem;
        margin-right: .25rem;
    }

    .row .userInfo .challengesAndXp {
        width: 13rem;
        font-size: .875rem;
    }
}