.signButton {
    padding: 1rem;
    color: var(--blue);

    border-radius: 10px;
    background: var(--background);
    border: 1px solid var(--blue);
    
    transition-property: background-color, color, border;
    transition-duration: .2s;

    position: absolute;
    top: 2rem;
    right: 3rem;
}

#signOut:hover {
    color: var(--white);
    background: var(--red);
    border: 1px solid var(--red);
}

#signIn:hover {
    color: var(--white);
    background: var(--green);
    border: 1px solid var(--green);
}