.signButton {
    padding: 1rem;
    color: var(--blue);

    border-radius: 10px;
    background: var(--background);
    border: 1px solid var(--blue);
    
    transition-property: background-color, color, border;
    transition-duration: .2s;

    position: fixed;
    bottom: 4rem;
    right: 2rem;
}

#signOut:hover {
    color: var(--white);
    background: var(--red);
    border: 1px solid var(--red);
}

#signIn:hover {
    color: var(--white);
    background: var(--green);
    border: 1px solid var(--green);
}


/* mobile */

@media(max-width: 850px) {
    .signButton {
        padding: .75rem;
        bottom: 1.5rem;
        right: 1.25rem;
    }
}