.themeChanger {
    padding: 1rem;
    color: var(--blue);

    border-radius: 10px;
    background: var(--background);
    border: 1px solid var(--blue);
    
    transition-property: background-color, color, border;
    transition-duration: .2s;

    position: absolute;
    bottom: 4rem;
    right: 3rem;
}

.themeChanger:hover {
    color: var(--white);
    background: var(--blue);
    border: 1px solid var(--blue);
}