.themeChanger {
    padding: 1rem;
    color: var(--blue);

    border-radius: 10px;
    background: var(--background);
    border: 1px solid var(--blue);
    
    transition-property: background-color, color, border;
    transition-duration: .2s;

    position: fixed;
    bottom: 4rem;
    right: 3rem;
}

.themeChanger:hover {
    color: var(--white);
    background: var(--blue);
    border: 1px solid var(--blue);
}


/* mobile */

@media(max-width: 850px) {
    .themeChanger {
        padding: .75rem;
        bottom: 1.25rem;
        right: 1.25rem;
    }
}