.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    background: #5965e0;
}

.bg {
    width: 60vw;
    max-height: 90vh;
    display: flex;
}

.loginContainer {
    width: 40vw;
    padding: 40px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}

#login h1 {
    margin: 100px 0 24px;
    font-size: 2.25rem;
    color: #fff;
}

#login .github {
    max-width: 320px;
    margin-bottom: 40px;
    color: #b3b9ff;
    font-size: 1.25rem;
    line-height: 1.875rem;

    display: flex;
    align-items: center;
}

#login .github img {
    margin-right: 24px;
}

#login button {
    width: 80%;
    padding: 1.875rem;
    
    border-radius: 5px;
    border: 2px solid #4953b8;
    background: #4953b8;
    
    color: #fff;
    font-size: 1.25rem;

    transition-property: background, border;
    transition-duration: .2s;

    display: flex;
    align-items: center;
    justify-content: center;
}

#login button:hover {
    background: #5965e0;
    border: 2px solid #4953b8;
}

#login button img {
    margin-left: 1rem;
}

/* linear-gradient(to right, #4953b8, rgba(73, 83, 184, .2)) */