.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    background: #5965e0;
}

.bg {
    width: 60vw;
    max-height: 90vh;
    display: flex;
}

.loginContainer {
    width: 40vw;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}

#login h1 {
    margin: 6.25rem 0 1.5rem;
    font-size: 2.25rem;
    color: #fff;
}

#login .github {
    max-width: 20rem;
    margin-bottom: 3rem;
    color: #b3b9ff;
    font-size: 1.25rem;
    line-height: 1.875rem;

    display: flex;
    align-items: center;
}

#login .github img {
    margin-right: 1.5rem;
}

#login button {
    width: 80%;
    padding: 1.875rem;
    
    border-radius: 5px;
    border: 2px solid #4953b8;
    background: #4953b8;
    
    color: #fff;
    font-size: 1.25rem;

    transition-property: background, border;
    transition-duration: .2s;

    display: flex;
    align-items: center;
    justify-content: center;
}

#login button:last-child {
    margin-top: 2rem;
}

#login button:hover {
    background: #5965e0;
    border: 2px solid #4953b8;
}

#login button img {
    margin-left: 1rem;
}

/* linear-gradient(to right, #4953b8, rgba(73, 83, 184, .2)) */

@media(max-width: 1400px) {
    #login button {
        width: 90%;
    }
}

@media(max-width: 1200px) {
    .bg {
        width: 50vw;
    }

    .bg img {
        width: 100%;
    }
    
    .loginContainer {
        width: 50vw;
    }

    #login h1 {
        margin-top: 4.5rem;
    }
}

@media(max-width: 900px) {
    .bg {
        width: 50vw;
    }

    .bg img {
        width: 100%;
    }
    
    .loginContainer header {
        width: 80%;
    }
    
    .loginContainer header img {
        width: 100%;
    }

    #login h1 {
        margin-top: 3rem;
        font-size: 2rem;
    }

    #login .github {
        font-size: 1.125rem;
        margin-bottom: 2rem;
    }

    #login .github img {
        margin-right: 1.25rem;
    }

    #login button {
        padding: 1.5rem;
        font-size: 1.125rem;
    }

    #login button:last-child {
        margin-top: 1rem;
    }
}

@media(min-height: 100vw) {
    .bg {
        display: none;
    }
    
    .loginContainer {
        width: 100vw;
    }

    .loginContainer header {
        width: 100%;
    }

    #login .github {
        margin-bottom: 2.5rem;
    }

    #login button {
        width: 100%;
    }

    #login button:last-child {
        margin-top: 1.5rem;
    }
}