.container {
    height: 100%;
    margin: 0 7rem;
    padding-top: 3rem;
}

.container header,
.ranking {
    width: 60vw;
    margin: 0 auto;
}

.container header h1 {
    color: var(--title);
}

.container header section {
    width: 100%;
    margin-top: 1rem;
    padding: 1.5rem 0;

    font-size: .875rem;
    font-weight: bold;
    opacity: .5;

    display: flex;
    justify-content: space-between;
}

.container header section div {
    display: flex;
    justify-content: space-between;
}

.leftHeader {
    width: 11rem;
}

.rightHeader {
    width: 18rem;
    margin-right: 3rem;
}

#mobile {
    display: none;
}

.ranking {
    padding-bottom: 3rem;
}


/* mobile */

@media(max-width: 1300px) {
    .container header,
    .ranking {
        width: 70vw;
    }

    .leftHeader {
        width: 10rem;
    }

    .rightHeader {
        margin-right: 1.5rem;
    }
}

@media(max-width: 1080px) {
    .container {
        margin-left: 6rem;
    }

    .rightHeader {
        width: 13rem;
    }
}

@media(max-width: 850px) {
    .container {
        padding: 6.5rem 0;
        margin: 0;
    }

    .container header,
    .ranking {
        width: 95vw;
    }
}

@media(max-width: 650px) {
    .rightHeader {
        display: none!important;
    }

    #mobile {
        width: fit-content;
        display: flex!important;
    }
}